.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.column {
  flex-basis: 100%;
  padding: 15px;
  border: 1px solid #666;
  margin: 5px 0;
  background: #343436;
}

.cell {
  color: black;
  font-weight: bold;
  margin: 4px;
  border-radius: 20%;
  height: 26px;
  width: 26px;
  line-height: 26px;
  display: inline-block;
  text-align: center;
  /* background-color: gray; */
}
